<div class="card-header">{{model.name}}</div>
<ul class="list-group list-group-flush">
  {{#each fields as |field|}}
    <li class="list-group-item">
      <span>{{field.name}}</span>
      <span class="p-2 text-light bg-secondary">{{field.value}}</span>
      <span>({{field.type}})</span>
    </li>
  {{/each}}
</ul>
