<div
  class="row no-gutters scene-label {{if model.isActiveScene "is-active-item"}}"
>
  {{toggle-button toggled=showNestedContent disabled=model.hasNoChildren}}
  <span class="item-name">{{model.name}}</span>
  <span class="refresh-button">
    {{fa-icon "redo" click=(action "getScene") size="sm" spin=model.isRefreshing}}
  </span>
</div>
{{#if showNestedContent}}
  <div class="row no-gutters nested-content">
    {{object-tree model=model.children}}
  </div>
{{/if}}
