<div class="row no-gutters">
  {{toggle-button toggled=showNestedContent disabled=model.hasNoChildren}}
  {{#link-to "object" model tagName="span" classNames="item-name"}}{{model.name}}{{/link-to}}
</div>
{{#if showNestedContent}}
  <div class="row no-gutters nested-content">
    {{object-tree model=model.children}}
  </div>
{{/if}}
