<div class="card-header">Transform</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <span>position</span>
    <span class="p-2 text-light bg-secondary">{{model.positionString}}</span>
  </li>
  <li class="list-group-item">
    <span>localPosition</span>
    <span class="p-2 text-light bg-secondary">{{model.localPositionString}}</span>
  </li>
  <li class="list-group-item">
    <span>forward</span>
    <span class="p-2 text-light bg-secondary">{{model.forward}}</span>
  </li>
  <li class="list-group-item">
    <span>right</span>
    <span class="p-2 text-light bg-secondary">{{model.right}}</span>
  </li>
  <li class="list-group-item">
    <span>rotation</span>
    <span class="p-2 text-light bg-secondary">{{model.rotation}}</span>
  </li>
  <li class="list-group-item">
    <span>up</span>
    <span class="p-2 text-light bg-secondary">{{model.up}}</span>
  </li>
  <li class="list-group-item">
    <span>localRotation</span>
    <span class="p-2 text-light bg-secondary">{{model.localRotation}}</span>
  </li>
  <li class="list-group-item">
    <span>localScale</span>
    <span class="p-2 text-light bg-secondary">{{model.localScale}}</span>
  </li>
</ul>
