
@import "ember-bootstrap/bootstrap";

.row {
  flex-wrap: nowrap;
}

.main-head {
  text-align: center;
}

.container-fluid {
  margin: 15px 0;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.container-row {
  @extend .row;
  @extend .no-gutters;
  height: 100%;
  & > [class*=col-] {
   padding: 5px;
  }
}
.content-box {
  overflow: scroll;
  height: 100%;
}

.nested-content {
  padding-left: 10px;
  margin-left: 10px;
  border-left: 1px solid black;
}

.item-name {
  margin-left: 5px;
  cursor: pointer;
}
.toggle-button {
  margin-left: 3px;
  cursor: pointer;
  &.disabled {
    cursor: default;
  }
}

.refresh-button {
  margin-left: 5px;
  cursor: pointer;
}

.is-active-item {
  @extend .bg-success;
  @extend .text-white;
  @extend .font-weight-bold;
  @extend .rounded;
}

.hierarchy-toolbar {
  margin-bottom: 10px;
}

.item-name.active {
  @extend .border;
  @extend .border-primary;
  cursor: default;
}

.content-box .row {
  flex-wrap: wrap;
}
