<div class="container-fluid">
  <div class="container-row">
    <div class="content-box border col-4">
      <div class="row no-gutters hierarchy-toolbar">
        <button onClick={{action "getScenes"}} class="btn btn-sm btn-primary">Refresh Scenes</button>
      </div>
      {{#each model as |scene|}}
        {{hierarchy-item model=scene}}
      {{/each}}
    </div>
    <div class="content-box border col-8">
      {{outlet}}
    </div>
  </div>
</div>
