<div class="row no-gutters">
  <div class="col-12">
    path: {{model.id}}<br>
    unityType: {{model.unityType}}<br>
    layer: {{model.layer}}<br>
    active: {{model.active}}<br>
    activeSelf: {{model.activeSelf}}<br>
    activeInHierarchy: {{model.activeInHierarchy}}<br>
    isStatic: {{model.isStatic}}<br>
    tag: {{model.tag}}<br>
    scene: {{model.scene}}<br>
    gameObject: {{model.gameObject}}<br>
    name: {{model.name}}<br>
    hideFlags: {{model.hideFlags}}<br>
  </div>
</div>
<div class="row no-gutters">
  {{transform-tile model=model.transform}}
  {{#each model.components as |component|}}
    {{component-tile model=component}}
  {{/each}}
</div>
